<!DOCTYPE html>
<html>
          <head>
                    <meta charset="utf-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <title></title>
                    <meta name="description" content="">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="">
                    {% load static %}
                    {% load bootstrap5 %}<!-- loading the bootstrap installed with django-->
                    {% bootstrap_css %}
                    {% bootstrap_javascript %}
          </head>
          <body>
                    {% block navbar %}
                    {% endblock %}

                    {% block hero %}
                    {% endblock %}

                    {% block ad %}
                    {% endblock %}

                    {% block properties %}
                    {% endblock %}

                    {% block services %}
                    {% endblock %}

                    {% block footer %}
                    {% endblock %}
                    
                    
                    <script src="" async defer></script>
          </body>
</html>