<!DOCTYPE html>
<head>
          <title>home</title>
          {% load bootstrap5 %}
          {% bootstrap_css %}         
          {% bootstrap_javascript %}
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

          
</head>

<body style='background-color:#f4f4f4; color=#08010e; '>
                    <!--  payment header section add a toggel button when screen size is small-->
          x<br>
          <section class='container' style='background-color:black; padding-top:2vh;'>
                                                  <h1>payment header</h1>
          </section>

          <section class='container ' style='padding-bottom:2vh; padding-top:2vh ; height:100vh'>
                    <section class='row' style='background-color:white;height:96vh;'>
                      <!-- side bar for options-->
                              <section class='col-3' style='background-color:black;'>
                                        <h1 class='text-center'>payment</h1>
                                        <hr>
                                        {% for i in group %}
                                        <buttom type="button" class="btn btn-info" style='width:100%'>{{i.name}}</buttom>
                                        <hr>
                                        {% endfor %}
                                        <buttom type="button" class="btn btn-info" style='width:100%' id='add_group'>add new group</buttom>
                    </section>

                    <!--transaction section-->
                              <section class='col-12 col-md-9'>
                                        <br>
                                        <!-- add rows dynamically for payment-->
                                        <section class='container' style='background-color:#f4f4f4; height:90vh;padding-top:2vh' id='context'>
                                                  <!--  table head--> <!-- try use of bootstrap table for it-->
                                                  <section class='row gx-5 overflow-hidden' style='height:4vh,margin-right:2vh'>
                                                            <section class='col-2' style='border-right:1px solid black;'> 
                                                                    <p >Date</p>
                                                            </section>
                                                            <section class='col-2' style='border-right:1px solid black;'>
                                                                    <p>Details</p>
                                                            </section>
                                                            <section class='col-2' style='border-right:1px solid black;'>
                                                                    <p>Category</p>
                                                            </section>
                                                            <section class='col-2' style='border-right:1px solid black;'>
                                                                    <p>Payer</p>
                                                            </section>
                                                            <section class='col-2' style='border-right:1px solid black;'>
                                                                    <p>Group</p>
                                                            </section>
                                                            <section class='col-2'>
                                                                    <p>Amount</p>     
                                                            </section>
                                                  </section>
                                                <!-- improve layout in later version utli it is ok
                                                -->
                                                  {% for payment in pay %}
                                                    <button class="row-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#rowSupportedContent{{forloop.counter}}" aria-controls="rowSupportedContent{{forloop.counter}}" aria-expanded="false" aria-label="Toggle row" style='width:100%' >
                                                    <section class='row gx-5 overflow-hidden' style='height:4vh'>
                                                            <section class='col-2' style='border-right:1px solid black;'> 
                                                                    <p >{{payment.date}}</p>
                                                            </section>
                                                            <section class='col-2' style='border-right:1px solid black;'>
                                                                    <p>{{payment.details}}</p>
                                                            </section>
                                                            <section class='col-2' style='border-right:1px solid black;'>
                                                                    <p>{{payment.category.name}}</p>
                                                            </section>
                                                            <section class='col-2' style='border-right:1px solid black;'>
                                                                    <p>{{payment.pay_user.username}}</p>
                                                            </section>
                                                            <section class='col-2' style='border-right:1px solid black;'>
                                                                    <p>{{payment.group.name}}</p>
                                                            </section>
                                                            <section class='col-2'>
                                                                    <p>${{payment.amount}}</p>     
                                                            </section>
                                                    </section>
                                                    </buttom>
                                                    <div class="collapse row-collapse" id="rowSupportedContent{{forloop.counter}}">
                                                        <hr>
                                                        <!-- need to write comment on ite working-->
                                                                {% for bal in member_balance %}
                                                                {% if bal.payment_id == payment.id %}
                                                                <section class='row gx-5'>
                                                                  <section class='col'>
                                                                      <p>{{ bal.with_member.name.username }}</p> 
                                                                  </section>
                                                                  <section class='col'>
                                                                      <p>{{ bal.amount }}</p>
                                                                  </section>
                                                                </section> 
                                                                {% endif %} 
                                                                {% endfor %}


                                                    </div>
                                                  {% endfor %}
                                                  
                                        </section>

                                        <!-- add payment buttom-->
                                        <div style='position:fixed; bottom:5vh; right:10vw; '><button type="button" class="btn btn-dark" id='add_payment'>Dark</button></div>
                              </section>       
          </section>
          <br>
<!--  write custom js to update the side section like gmail-->
          <script>
                let x=document.querySelector('#add_group');
                        x.onclick = function(){
                                window.location.href = 'http://127.0.0.1:8000/admin/';
                                
                        }
                let y=document.querySelector('#add_payment');
                        y.onclick = function(){
                                window.location.href = 'http://127.0.0.1:8000/admin/';
                                
                        }
          </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
