{% extends 'home/base.html' %}

{% load static %}

{% block wishlist %}
<div class="container">
    <h2>Your Properties</h2>
    <div class="row">
        {% for place in properties %}
        <div class="col-md-4" style="margin-bottom: 20px;">
            <div class="card" style="border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                {% for image in place.propertyimage_set.all %}
                <img src="{{ image.default_image.url }}" alt="Property Image" style="height: 200px; object-fit: cover; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                {% endfor %}
                <div class="card-body">
                    <h5 class="card-title">{{ place.title }}</h5>
                    <p class="card-text">{{ place.description }}</p>
                    <p class="card-text">Owner: {{ place.owner }}</p>
                    <p class="card-text">Available: {% if place.availabality %} Yes {% else %} No {% endif %}</p>
                    <p class="card-text">Renter: {{ place.currentrenter_set.first.user }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'account:add_property' %}" style="position: fixed; bottom: 20px; right: 20px;">
        <button type="button" class="btn btn-dark" style="background-color: #4f033d; color: #ffffff; margin-bottom: 13vh;margin-right:83vw">Add Property</button>
    </a>
</div>
{% endblock %}
