{% extends 'home/base.html' %}

{% load static %}

{% block wishlist %}
<div class="container">
    <h2>Your Property</h2>
    <div class="row">
        {% for place in properties.property %}
        <div class="col-md-4">
            <div class="card">
                    {% for image in place.propertyimage_set.all %}
                              <img src="{{ image.default_image.url }}" alt="Property Image" style='height: 200px'>
                    {% endfor %}

                <div class="card-body">
                    <h5 class="card-title">{{ place.title }}</h5>
                    <p class="card-text">{{ place.description }}</p>
                    {% for book in properties.booking %}
                    {% if book.property == place%}
                    <a href="{% url 'booking:cancle' booking_id=book.id %}" style=' bottom:5vh; right:10vw; '><button type="button" class="btn btn-dark" id='add_payment'>Cancel Booking</button></a>
                    {% endif %}
                    {% endfor %}
                </div>

                <!--
                    create a cancle booking btton 
                -->


            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

