<!-- user profile page conatins info of the user-->

<!--  we need to pass the user, properties and reviews -->

<!--  we need to add a button to add property , edit profile, delete property-->

<!-- adjust the height sections off all-->

{% extends 'home/base.html' %}


{% block profile %}
          <section class="container" style="border: 1px solid #4f033d; padding:20px">
                    <!-- image at centre-->
                    <section class="row">
                              <div class="col-md-4">
                                        <img src="{{user.profile_pic.url}}" alt="profile pic" class="img-fluid">
                                        <hr>   
                                        <h3>{{user.username}}</h3>
                                        <p>{{user.email}}</p>
                                        <hr>
                                        <p>{{user.phone_no}}</p>
                                        <hr>
                                        <p>{{user.get_gender_display}}</p>
                                        <hr>
                                        <p>{{user.get_user_type_display}}</p>
                                        <hr>
                                        <p>{{user.date_joined}}</p>
                                        <hr>
                                        <p>{{user.verified}}</p> 
                                        
                              </div>

                              <div class="col-md-8" >
                                        <div class="row">
                                                  <p>{{user.bio}}</p>
                                                  <p> bio</p>
                                                  <hr>
                                        </div>

                                        
                                                  {% if user.user_type == 2 %}
                                                  <div class="row" >
                                                            <div class="col-md-3">
                                                                      <a href="{% url 'account:myproperty'%}" style="color:black;text-decoration:none">My Properties</a>
                                                            </div>
                                                            <div class="col-md-3">
                                                                      <a href="{% url 'account:add_property' %}" style="color:black;text-decoration:none">Add Property</a></a>
                                                            </div>
                                                            <div class="col-md-3">
                                                                      <a href="" style="color:black;text-decoration:none">Delete listing</a>
                                                            </div>
                                                            <div class="col-md-3">
                                                                      <a href="{% url 'booking:history' %}" style="color:black;text-decoration:none">History</a>
                                                            </div>
                                                  </div>
                                                  {% else %}
                                                  <div class="row">
                                                            <div class="col-md-4">
                                                                      <a href="">My Renting</a>
                                                            </div>
                                                            <div class="col-md-4">
                                                                      <a href="{% url 'booking:history' %}">History</a></a>
                                                            </div>
                                                  </div>
                                                  {% endif %}

                                        
                                        <hr>

                                        

                                        </section>

                              </div>
                    </section>
            <a href="{% url 'account:edit_profile' %}" style='position:fixed; bottom:5vh; right:10vw; '><button type="button" class="btn btn-dark" id='add_payment' style=" background-color:#4f033d ; color:#f4f4f4;margin-bottom:20px" >edit profile</button></a>
          </section>

{% endblock %}

{% block script %}
        <script>
        document.addEventListener("DOMContentLoaded", function() {
            var ajax_section = document.getElementById("ajax");
            if (ajax_section) {
                ajax_section.innerHTML = "Hello from JavaScript!";
            }
            let x=fetch("{% url 'account:profile' %}").then((res)=>res.json()).then((data)=>{
                console.log(data)
        });

        </script>
{% endblock %}