{% extends 'home/Base.html' %}

{% block content %}
<div class='container'>
          <h1>Signup</h1>
          <form method="post" enctype="multipart/form-data">
                    <!--  encrypt="multipart/form-data" is required when uploading the file-->
                    {% csrf_token %}
                    <label for="Email">Email</label>
                    <input type="text" id="Email" name="email">
                    <hr>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                    <hr>
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password">
                    <hr>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">      
                    <hr>
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone">              
                    <hr>
                    <label for="profile_pic">Profile Pic:</label>
                    <input type="file" id="profile_pic" name="profile_pic">      
                    <hr>
                    <select name="gender" id="gender">
                              <option value=1>Male</option>
                              <option value=2>Female</option>
                              <option value=3>Other</option>
                    </select>
                    <hr>
                    <select name='user_type' id='user_type'>
                              <option value=1>Renter</option>
                              <option value=2>Owner</option>
                    </select>
                    <hr>
                    <label for="username">username</label>
                    <input type="text" id="username" name="username">
                    <hr>

                    <button type="submit">Signup</button>   
          </form>
</div>

{% endblock %}