<!DOCTYPE html>
<html>
          <head>
                    <meta charset="utf-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <title></title>
                    <meta name="description" content="">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    {% load static %}
                    {% load bootstrap5 %}<!-- loading the bootstrap installed with django-->
                    {% bootstrap_css %}
                    {% bootstrap_javascript %}
          </head>
          <body class="container" style="width:200vw" >
                    <!--  nav bar  -->
                    <div style="background-color: black; height: 5vh; padding-top: 2vh">
                              {% if user.is_authenticated %}
                                        {% if user.user_type == 2 %}
                                        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:0px">
                                        <div class="container-fluid" style="background-color:black">
                                                  {% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
                                                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                                  <span class="navbar-toggler-icon"></span>
                                                  </button>
                                                  <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                                                            <a class="nav-link active col-2" aria-current="page" href="{% url 'home:homepage' %}">Home</a>
                                                            <a class="nav-link col-2" href="{% url 'wishlist:wishlist' %}">Wishlist</a>
                                                            <a class="nav-link active col-2" aria-current="page" href="{% url 'account:myproperty' %}">My Property</a>
                                                            <a class="nav-link col-2" href="{% url 'account:myrental' %}">My rental</a>
                                                            <a class="nav-link col-2" href="{% url 'account:profile' %}">My Account</a>
                                                            <a class="nav-link col-2" href="{% url 'login:logout' %}">Logout</a>
                                                  </div>
                                        </div>
                                        </nav>
                                        {% else %}
                                        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:0px">
                                        <div class="container-fluid" style="background-color:black">
                                                  {% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
                                                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                                  <span class="navbar-toggler-icon"></span>
                                                  </button>
                                                  <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                                                            <div class ="col-2"></div>
                                                            <a class="nav-link active col-2" aria-current="page" href="{% url 'home:homepage' %}">Home</a>
                                                            <a class="nav-link col-2" href="{% url 'wishlist:wishlist' %}">Wishlist</a>
                                                            <a class="nav-link col-2" href="{% url 'account:myrental' %}">My rental</a>
                                                            <a class="nav-link col-2" href="{% url 'account:profile' %}">My Account</a>
                                                            <a class="nav-link col-2" href="{% url 'login:logout' %}">Logout</a>
                                                  </div>
                                        </div>
                                        </nav>
                                        {% endif %}

                              {% else %}
                              <nav class="navbar navbar-expand-lg navbar-light bg-light"style="background-color:black" >
                                        <div class="container">
                                                  <a class="navbar-brand" href="#" style='width: 10%'>Navbar</a>
                                                  <button class="navbar-toggler"  style="background-color:black"type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                                  <span class="navbar-toggler-icon"></span>
                                                  </button>
                                                  <div class="collapse navbar-collapse row " id="navbarSupportedContent">
                                                                      <p class="col-8"></p>
                                                                      <a class="nav-link active col-2" aria-current="page" href="{% url 'home:homepage' %}">Home</a>
                                                                      <a class="nav-link col-2" href="{% url 'login:login' %}">Login/Register</a>
                                                  </div>
                                        </div>
                              </nav>

                              {% endif %}
                    
                    </div>

                    <hr>

                    {% block hero %}
                    {% endblock %}

                    {% block profile %}
                    {% endblock %}

                    {% block content %}
                    {% endblock %}

                    <hr>

                    {% block properties %}
                    {% endblock %}

                    {% block wishlist %}
                    {% endblock %}

                    {% block booking %}
                    {% endblock %}

                    <hr>

                    {% block script %}
                    {% endblock %}

                    
          </body>
</html>