{% extends 'home/Base.html' %}

{% block hero %}
          <div class="head-img-container">
                    <div class="head_img">
                              <img src="E:\nextsquare\MiniProject\square\square\static\paras\home page\home page\main-page-home1.jpg" alt="">
                    </div>
                    <h2 class="img-text" style="text-align: center">Find Your Perfect Place:
                              <br>
                              Rent with Ease!
                    </h2>
           </div>
{% endblock %}

{% block properties %}
                    <!-- propety elemnt sample  add on hover animation od scale 1.1 transition 2 sec etc-->

            <section class='row gx-5'>
                {% for property in properties %}
                        
                        <a class="col" href="{% url 'property:view' property_id=property.id %}" style='text-decoration: none; border: 1px solid black; margin: 10px'>
                        <h2>{{ property.title }}</h2>
                        <!-- Access related images -->
                        {% for image in property.propertyimage_set.all %}
                                <img src="{{ image.default_image.url }}" alt="Property Image" style='height: 200px'>
                        {% endfor %}
                        <!-- Access related location -->
                        {% for location in property.propertylocation_set.all %}
                                <p>{{ location.location }}</p>
                        {% endfor %}
                        </a>
                {% endfor %}

                
                        

            </section>



          <!-- footer-->
          {% block services %}
                    <div class="container">
                    <hr>
                              <div class="row">
                                        <div class="col-md-4">
                                                  <img src="E:\nextsquare\MiniProject\square\square\static\paras\home page\home page\home logo.png" alt="">
                                                  <h4>Enjoy Some Flexibility</h4>
                                                  <h6>make it easy to book your space </h6>
                                        </div>

                                        <div class="col-md-4">
                                                  <img src="E:\nextsquare\MiniProject\square\square\static\paras\home page\home page\headphone.png" alt="">
                                                  <h4>24/7 CUSTOMER SERVICE</h4>
                                                  <h6>Friendly 24/7 customer support </h6>
                                        </div>

                                        <div class="col-md-4">
                                                  <img src="E:\nextsquare\MiniProject\square\square\static\paras\home page\home page\Icon-check.png" alt="">
                                                  <h4>MONEY BACK GUARANTEE</h4>
                                                  <h6>We reurn money within 30 days </h6>
                                        </div>
                              </div>
                    </div>
                    {% endblock %}

                    <footer style="background-color: black; padding-bottom: 5vh; color:white">
                              <hr>
                              <div class="row g-2">
                                        <div class="col-md-4">
                                        <h3>Support</h3>
                                        <ul>
                                                  <li>Contact us</li>
                                                  <li>Cancellation support</li>
                                                  <li>Report a problem</li>
                                        </ul>
                                        </div>

                                        <div class="col-md-4">
                                        <h3>Account</h3>
                                        <ul>
                                                  <li><a href="#">My Account</a></li>
                                                  <li><a href="#">Login/Register</a></li>
                                                  <li><a href="#">Wishlist</a></li>
                                        </ul>
                                        </div>

                                        <div class="col-md-4">
                                        <h3>About nextsquare</h3>
                                        <p class="about_P">We provide rental solutions for homes, garages, and warehouses, ensuring convenience and satisfaction
                                                  for both
                                                  tenants and property owners with our curated selection of properties and streamlined processes.</p>
                                        </div>
                              </div>
                    </footer>


{% endblock %}