{% extends 'home/Base.html' %}

{% block hero %}
          <div class="head-img-container">
                    <div class="head_img">
                              <img src="E:\nextsquare\MiniProject\square\square\static\paras\home page\home page\main-page-home1.jpg" alt="">
                    </div>
                    <h2 class="img-text">Find Your Perfect Place:
                              <br>
                              Rent with Ease!
                    </h2>
           </div>
{% endblock %}

{% block properties %}
                    <!-- propety elemnt sample  add on hover animation od scale 1.1 transition 2 sec etc-->
                    <section class='row' style='height: 50vh'>
                              {% for property in properties %}
                              <a href="{% url 'property:view' property_id=12 %}">

                              <section class="container col-md-4" >
                                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                                  <div class="carousel-indicators">
                                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                  </div>

                                                  <div class="carousel-inner">
                                                            {% for image in images %}
                                                            <div class="carousel-item active" style="height: 50vh">
                                                                      <img src="{{image.default_image.url}}" alt="...">
                                                            </div>
                                                            <div class="carousel-item" style="height: 50vh">
                                                                      <img src="{{image.image2.url}}" alt="...">
                                                            </div>
                                                            <div class="carousel-item" style="height: 50vh">
                                                                      <img src="{{image.image3.url}}" alt="...">
                                                            </div>
                                                            {% endfor %}
                                                  </div>
                                                  
                                                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                  <span class="visually-hidden">Previous</span>
                                                  </button>
                                                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                  <span class="visually-hidden">Next</span>
                                                  </button>
                                        </div>

                              </section>
                              </a>
                              {% endfor %}
                    </section>





{% endblock %}