{% extends 'home/Base.html' %}

{% block hero %}
          <div class="head-img-container">
                    <div class="head_img">
                              <img src="E:\nextsquare\MiniProject\square\square\static\paras\home page\home page\main-page-home1.jpg" alt="">
                    </div>
                    <h2 class="img-text">Find Your Perfect Place:
                              <br>
                              Rent with Ease!
                    </h2>
           </div>
{% endblock %}