{% extends 'home/base.html' %}

{% load static %}

{% block wishlist %}
<div class="container">
    <h2>Your Wishlist</h2>
    <div class="row">
        {% for wish in wishlist_properties %}
        <div class="col-md-4">
            <div class="card">
                    {% for image in wish.property.propertyimage_set.all %}
                              <img src="{{ image.default_image.url }}" alt="Property Image" style='height: 200px'>
                    {% endfor %}

                <div class="card-body">
                    <h5 class="card-title">{{ wish.property.title }}</h5>
                    <p class="card-text">{{ wish.property.description }}</p>
                    <!-- Add more property details here -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

